<form #form="ngForm" (ngSubmit)="form.valid && onSubmit()">
    <fieldset>
        <label for="firstname">Firstname</label>*
        <input [(ngModel)]="model.firstname" #firstname="ngModel" type="text" id="firstname" name="firstname" required minlength="3" maxlength="15">
        <div *ngIf="form.submitted && firstname.errors">
            <span *ngIf="firstname.errors?.['required']">Le prénom est requis</span>
            <span *ngIf="firstname.errors?.['minlength']">La longueur minimale doit être supérieure à 3</span>
            <span *ngIf="firstname.errors?.['maxlength']">La longueur maximale doit être inférieur à 15</span>
        </div>
    </fieldset>
    <fieldset>
        <label for="lastname">Lastname</label>*
        <input [(ngModel)]="model.lastname" #lastname="ngModel" type="text" id="lastname" name="lastname" required minlength="3" maxlength="15">
        <div *ngIf="form.submitted && lastname.errors">
            <span *ngIf="lastname.errors?.['required']">Le nom est requis</span>
            <span *ngIf="lastname.errors?.['minlength']">La longueur minimale doit être supérieure à 3</span>
            <span *ngIf="lastname.errors?.['maxlength']">La longueur maximale doit être inférieur à 15</span>
        </div>
    </fieldset>
    <fieldset>
        <label for="age">Age</label>*
        <input [(ngModel)]="model.age" #age="ngModel" type="number" id="age" name="age" required min="0" max="122">
        <div *ngIf="form.submitted && age.errors">
            <span *ngIf="age.errors?.['required']">L'age est requis</span>
            <span *ngIf="age.errors?.['min']">L'age ne peut être inférieur à 0</span>
            <span *ngIf="age.errors?.['max']">L'age maximal est fixé à 122</span>
        </div>
    </fieldset>
    <fieldset>
        <label for="mail">E-Mail</label>*
        <input [(ngModel)]="model.mail" #mail="ngModel" type="email" id="mail" name="mail" required pattern="^[A-Za-z0-9._%\-]+@[A-Za-z0-9._%\-]+\\.[a-z]{2,3}$">
        <div *ngIf="form.submitted && mail.errors">
            <span *ngIf="mail.errors?.['required']">Une addresse mail est requise</span>
            <span *ngIf="mail.errors?.['pattern']">L'addresse mail est invalide</span>
        </div>
    </fieldset>
    <fieldset>
        <label for="phone">Phone number</label>*
        <input [(ngModel)]="model.phone" #phone="ngModel" type="tel" id="phone" name="phone" required pattern="^(?:(?:\+|00)33[\s.\-]{0,3}(?:\(0\)[\s.\-]{0,3})?|0)[1-9](?:(?:[\s.\-]?\d{2}){4}|\d{2}(?:[\s.\-]?\d{3}){2})$">
        <div *ngIf="form.submitted && phone.errors">
            <span *ngIf="phone.errors?.['required']">Un numéro téléphone est requis</span>
            <span *ngIf="phone.errors?.['pattern']">Le numéro de téléphone n'est pas reconnu</span>
        </div>
    </fieldset>
    <fieldset>
        <label for="password">Password</label>*
        <input [(ngModel)]="model.password" #password="ngModel" type="password" id="password" name="password" required minlength="8">
        <div *ngIf="form.submitted && password.errors">
            <span *ngIf="password.errors?.['required']">Le mot de passe est obligatoire</span>
            <span *ngIf="password.errors?.['minlength']">La longueur minimale doit être supérieure à 8</span>
        </div>
    </fieldset>
    <button type="reset">Clear</button>
    <button type="submit">Submit</button>
    <div *ngIf="form.submitted">
        <div>Form submitted : <span [ngStyle]="{'background-color': (form.submitted) ? 'green' : 'red'}" class="dot"></span></div>
        <div>Form valid : <span [ngStyle]="{'background-color': (form.valid) ? 'green' : 'red'}" class="dot"></span></div>
    </div>
</form>